/*
Billing
*/

.user_name {
  display: block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;  
  margin-bottom: 4px;    
}

.login_link.-log_out {
    display: inline-block;
    position: relative;
    bottom:10px;
}

.billing_user_stats {
    text-align: center;
    position: relative;
    left:83px;
    z-index: 999;    
    top:5px;
}

.login_img.-user {
    position: relative;    
    top:5px;
}

.login_ballance {
    text-align: center;
    background-color: #999999;
    background-color: rgba(153,153,153,.70);
    padding: 3px 3px 0 5px;    
    position: relative;
    bottom:10px;
    left:10px;
    z-index: 1;
    height:40px;    
}

.lb-header {
    color: #fff;
    font-size: 14px;    
    font-style: italic;
    position: relative;
    bottom:3px;
}

.lb-summ {
    color: #fff;
    font-size: 16px;    
    font-weight: 800;
    font-style: italic;
    text-shadow: 1px 1px 3px #000;
    position: relative;
    bottom:5px;
}


.-billing .btn-cust {
    background-size: 175px 44px !important;
}


.products-profile.-user_profile {
    width: 1150px !important;
    margin-top: 50px;
    margin-left: 100px;
}

.-user_profile .yellow-block {
    min-height: 205px;
    min-width: 307px;
    position: relative;
}

.cust-not-start {
    position: absolute;
    bottom:20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    width: 80%;
    display: inline-block;
    padding-left: 10px;
}

.-user_profile .yellow-block_list.-left {
    width: 118px;
}

.-user_profile .yellow-block_list.-right {
    width: 118px;
}

.clearfix {
    clear: both;
}

.-user_profile .yellow-block_list {
    margin-bottom: 0 !important;
}

.mb20 {
    margin-bottom: 20px;
}

.profile_change_photo {
    font-size: 12px;
    position: absolute;
    top:-18px;
    left: 58px;
    color: #666;
    text-decoration: underline;
    cursor: pointer;
}

.profile_change_name {
    font-size: 12px;
    position: absolute;
    bottom:10px;
    left: -88px;
    color: #666;
    text-decoration: underline;
    cursor: pointer; 
}

.profile_change_photo:hover,
.profile_change_name:hover {
    color: #666;
    text-decoration: none;
}

.mt20 {
    margin-top: 20px;
}

.ml40 {
    margin-left: 40px;
}

.mt50 {
    margin-top: 50px;
}

.ml20 {
    margin-left: 20px;
}

.ml0 {
    margin-left: 0px;
}

.mr0 {
    margin-right: 0px;
}

.fs18 {font-size: 18px;}
.fs14 {font-size: 14px;}

.new_user_profile_register .profile-star {
    font-size: 12px;
    text-align:center;
    color: #333;
    text-shadow: 1px 1px 3px #fff;
    margin-top: 5px;
}

#m-register.new_user_profile_register .modal-dialog,
#m-register.new_user_profile_register .modal-content,
#m-register.new_user_profile_register .modal-body {
    height: 475px;
}

#m-register.new_user_profile_register .modal-body.register {
    background-size: 302px 475px !important;
}


#m-register.new_user_profile_register {
    float: left;
    margin-bottom: 60px;
    
}

.yellow-block.-billing .yellow-block_list_item {
    text-align: center;
    line-height: 35px;
}

.yellow-block.-billing .yellow-block_title {
    text-align: center;
    margin-bottom: 5px;
}

.-user_profile .profile {
    margin-left: 98px;
}

.products-profile.-billing-bil {
    width: 590px;
}

.products-profile.-billing-bil .profile {
    margin-left: 120px; 
}

.profile-history .ph-header {
    font-size: 14px;
    font-weight: 800;
    padding-left: 30px;
}

.profile-history table {
    width: 86%;
    margin-left: 30px;
}


.profile-history table tbody tr {
    border:0px dashed #ccc !important;     
}

.profile-history table tbody tr td {
    border:0px dashed #ccc;    
    font-size: 14px;
    text-align: center;
}

.profile-history table>thead>tr>th {
    border-bottom:0px solid #ccc; 
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.profile-history tbody tr td:first-child div {
    padding-left: 15px;
    border-left: 1px dashed #ccc;
    border-radius: 5px 0 0 5px;
    text-align: left;
}

.profile-history tbody tr td div {
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    text-align: center;
}

.profile-history tbody tr td:last-child div {
    padding-right: 15px;
    border-right: 1px dashed #ccc;
    border-radius: 0 5px 5px 0; 
}

.profile-history .table>thead>tr>th,
.profile-history .table>tbody>tr>th,
.profile-history .table>tfoot>tr>th,
.profile-history .table>thead>tr>td,
.profile-history .table>tbody>tr>td,
.profile-history .table>tfoot>tr>td {
    padding: 5px 0px;
}

/*
player
*/
.player {
    margin-bottom: 10px;
}

/*
Carousel
*/

.main-carousel-wrap {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    z-index: 1;
}

.main-carousel-wrap .carousel-header {
    background-color: #ffcc33;
    padding: 10px;
    display: inline-block;
    position: absolute;
    top:-30%;
    left: 4%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}

.main-carousel-wrap .carousel-header h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
}

.main-carousel-wrap .prev {
    text-indent: -999999px;
    position: absolute;
    left: 15px;
    top:0;
    height: 130px;
    width: 20px;
    background-image: url(../img/fig28.png);
    background-position: 0 27px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.main-carousel-wrap .next {
    text-indent: -999999px;
    position: absolute;
    right: 10px;
    top:0px;
    height: 130px;
    width: 20px;
    background-image: url(../img/fig29.png);
    background-position: 0 27px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
}

.slides-wrap h2,
.slides-wrap p {
    font-size: 14px;
    margin: 0 0 2px 0;
    padding: 0;
}

.slides-wrap li {
    width: 235px;
    overflow-y: auto;
}

.slides-wrap li a {
    color: #666666;
    text-decoration: none;
}

.slides-content {
    padding: 5px 0 0 10px;
    border-radius: 5px;
    border: 1px solid #cccccc; 
    width: 230px;
    height: 130px;
}

/*
Custom upgrade
*/

.nav-tabs.nav-justified > .active > a:before, .nav-tabs.nav-justified > .active > a:after {
    height: auto !important;
}

.nav.nav-tabs.nav-justified.-billing li:first-child a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nav.nav-tabs.nav-justified.-billing li:last-child a {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.nav.nav-tabs.nav-justified.-billing li:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.nav.nav-tabs.nav-justified.-billing .active:first-child a::before {
    width: 0;
}

.nav.nav-tabs.nav-justified.-billing .active:last-child a::after {
    width: 0;
}

.nav-tabs.nav-justified > .active > a:before {
    left: 0 !important;
}

.social_btn:nth-of-type(2):hover,
.social_btn:nth-of-type(2):active,
.social_btn:nth-of-type(2):focus {
    background-position: -179px -5px !important;
}

.btn-cust {
    background-color: transparent !important;
}

.cart_hidden {
    z-index: 999;
}

/*
Slider
*/

.main-slider {
    z-index: 1;
    position: relative;
}

.main-slider .carousel-indicators {
    z-index: 666;
}

.carousel-indicators li {
    background: #fff;
}


.main-slider .carousel-inner,
.main-slider .item {
    height: 100%;
}

.slider-bg-image {
    margin: 0;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 555;
    height: 100% !important;
    width: 100% !important;
}

.main-slider .slider-content {
    position: relative;
    z-index: 9999;
}

/*
Autorize & Register links and social buttons
*/

.login_link:hover,
.login_link:active,
.login_link:focus {
    outline: none;
}

.social-gplus,
.social-tw,
.social-fb,
.social-vk {
    transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;    
}


.social-gplus {
    width: 50px;
    height: 63px;
    background: url(../img/fig25.png) no-repeat transparent 0 0;
    position: absolute;
    top: 25px;
    left: -41px;
    z-index: 888;    

}

.social-gplus:hover {    
    background: url(../img/fig26.png) no-repeat transparent 0 0;
    left: -50px;
}

.social-tw {
    width: 50px;
    height: 63px;
    background: url(../img/fig25.png) no-repeat transparent 0 -63px;
    position: absolute;
    top: 90px;
    left: -41px;
    z-index: 888;
}

.social-tw:hover {    
    background: url(../img/fig26.png) no-repeat transparent 0 -63px;
    left: -50px;
}

.social-fb {
    width: 50px;
    height: 63px;
    background: url(../img/fig25.png) no-repeat transparent 0 -125px;
    position: absolute;
    top: 155px;
    left: -41px;
    z-index: 888;    
}

.social-fb:hover {    
    background: url(../img/fig26.png) no-repeat transparent 0 -125px;
    left: -50px;
}

.social-vk {
    width: 50px;
    height: 63px;
    background: url(../img/fig25.png) no-repeat transparent 0 -187px;
    position: absolute;
    top: 220px;
    left: -41px;
    z-index: 888;
}

.social-vk:hover {    
    background: url(../img/fig26.png) no-repeat transparent 0 -187px;
    left: -50px;
}

/*
Autorize
*/

#m-autorize .modal-dialog, #m-autorize .modal-content, #m-autorize .modal-body {
    width: 302px;
    height: 300px;
    position: relative;
    z-index: 999;
    border-radius: 5px;
}

#m-autorize .modal-body.autorize {
    background-image: url(../img/fig24.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 302px 300px;
    background-position: 0 0;
}

#m-autorize .ma-header {
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    text-shadow: 1px 1px 3px #ffffff;
}

#m-autorize .ma-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
    display: inline-block;
    text-shadow: 1px 1px 3px #ffffff;
}

#m-autorize .modal-body.autorize .form-control {
    border-radius: 15px;
    width: 210px;
    margin: 0 auto;
    display: block;
    box-shadow: 2px 2px 3px #999999, inset 2px 2px 3px #000000;
    border:none;
    color: #999;
}

.modal-body.autorize .form-control:hover,
.modal-body.autorize .form-control:active,
.modal-body.autorize .form-control:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 2px 2px 3px #999999, inset 2px 2px 3px #000000 !important;
}

.btn-cust.autorize {    
    background-size: 150px 44px;
    background-image: url(../img/fig14.png);
    width: 150px;
    display: block;
    margin: 25px auto 0;
    font-size: 18px;
    padding: 10px 15px;
    box-shadow: 0 0 20px #fff;
    height: 44px;
}

.mafp {
    color: #333;
}

.mafp .ma-text {
    margin-top: 5px;
}

.mafp:hover,
.mafp:active,
.mafp:focus {
    color: #333;
    text-decoration: none;
}

/*
Register
*/

#m-register .modal-dialog, #m-register .modal-content, #m-register .modal-body {
    width: 302px;
    height: 385px;
    position: relative;
    z-index: 999;
    border-radius: 5px;
}

#m-register .modal-body.register {
    background-image: url(../img/fig24.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 302px 385px;
    background-position: 0 0;
}

#m-register .mr-header {
    font-size: 24px;
    font-weight: 800;
    line-height: 40px;
    text-shadow: 1px 1px 3px #ffffff;
}

#m-register .mr-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
    display: inline-block;
    text-shadow: 1px 1px 3px #ffffff;
}

#m-register .modal-body.register .form-control {
    border-radius: 15px;
    width: 210px;
    margin: 0 auto;
    display: block;
    box-shadow: 2px 2px 3px #999999, inset 2px 2px 3px #000000;
    border:none;
    color: #999;
}

#m-register .modal-body.register .form-control:hover,
#m-register .modal-body.register .form-control:active,
#m-register .modal-body.register .form-control:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 2px 2px 3px #999999, inset 2px 2px 3px #000000 !important;
}

#m-register .btn-cust.register {    
    background-size: 208px 44px;
    background-image: url(../img/fig14-reg.png);
    width: 210px;
    display: block;
    margin: 25px auto 0;
    font-size: 18px;
    padding: 10px 15px;
    box-shadow: 0 0 20px #fff;
    height: 44px;
}